<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{title}}</h1>
  </div>
</div>

<form method="post" action="/v/workstations/create">
  <div class="form-group">
    <label for="workstationNameInput">移动站名</label>
    <input type="text" name="name" class="form-control" id="workstationNameInput" placeholder="输入移动站名">
    <small id="usernameInput" class="form-text text-muted">字母，数字，中文字符，请勿包含特殊字符</small>
  </div>
  <div class="form-group">
    <label for="workstationAddress">移动站地址</label>
    <input type="text" name="address" class="form-control" id="workstationAddress" placeholder="输入地址">
  </div>
  <div class="form-group">
    <label for="workstationCity">城市</label>
    <select class="form-control" id="workstationCity" name="cityId">
      <option value="">请选择城市</option>
      {{#cities}}
        <option value={{id}}>{{name}}</option>
      {{/cities}}
    </select>
  </div>
  <div class="form-group">
    <label for="workstationProvince">省</label>
    <select class="form-control" id="workstationProvince" name="provinceId">
      <option value="">请选择省</option>
      {{#provinces}}
        <option value={{id}}>{{name}}</option>
      {{/provinces}}
    </select>
  </div>
  <div class="form-group">
    <label for="workstationAdministrator">管理员</label>
    <select class="form-control" id="workstationAdministrator" name="administratorId">
      <option value="">请选择管理员</option>
      {{#employees}}
        <option value={{id}}>{{name}}</option>
      {{/employees}}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">提交</button>
</form>