<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{title}}</h1>
  </div>
</div>
{{#createdMessage}}<div class="alert alert-success" role="alert">{{{.}}}</div>{{/createdMessage}}
<table class="table table-striped">
  <thead>
  <tr>
    <th>编号</th>
    <th>移动站名</th>
    <th>地址</th>
    <th>城市</th>
    <th>省</th>
    <th>管理员</th>
  </tr>
  </thead>
<tbody>
  {{#workstations}}
  <tr>
    <th scope="row">{{id}}</th>
    <td>{{name}}</td>
    <td>{{address}}</td>
    <td>{{city.name}}</td>
    <td>{{province.name}}</td>
    <td>{{administrator.name}}</td>
  </tr>
  {{/workstations}}
  </tbody>
</table>
<a href="/v/admin/workstations/create" class="btn btn-primary">新建移动站</a>
